<div class="center jumbotron">
  <h1>Welcome to the Lunch Group Generator</h1>

  <h2>
    Here will be the list of groups!
  </h2>

  <%= link_to "SHUFFLE", '#', class: "btn btn-lg btn-primary" %>
</div>
